In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('order_numerical.csv')

In [3]:
df.head()

   Source  Destination   Area   Weight
0      61           54  38.88  30920.0
1      61           54  38.88  30920.0
2      61           54  38.88  30920.0
3      61           54  38.88  30920.0
4      61           54  38.88  30920.0

In [ ]:
df['Source'] = df['Source'].str.replace('City_','')
df['Destination'] = df['Destination'].str.replace('City_','')

In [4]:
df['Source'] = df['Source'].astype('Float64')
df['Destination'] = df['Destination'].astype('Float64')

In [ ]:
df['Weight'] = df['Weight'] / 1000
df['Area'] = df['Area'] / 1000

In [5]:
df = df.drop(columns=['Area','Weight'])

In [6]:
df.head()

   Source  Destination
0    61.0         54.0
1    61.0         54.0
2    61.0         54.0
3    61.0         54.0
4    61.0         54.0

Order_ID           object
Material_ID        object
Item_ID            object
Source              Int64
Destination         Int64
Available_Time     object
Deadline           object
Danger_Type        object
Area              float64
Weight            float64
dtype: object

In [ ]:
df_numeric = df.select_dtypes(include=['float64', 'int64'])

In [12]:
df.to_tsp('Random1.tsp',index=False)

In [ ]:
df_numeric.to_csv('order_numerical.csv',index=False)