In [3]:
import numpy as np
import pandas as pd

In [17]:
df = pd.read_csv('order_numerical.csv')

In [18]:
df.head()

   Source  Destination   Area   Weight
0      61           54  38.88  30920.0
1      61           54  38.88  30920.0
2      61           54  38.88  30920.0
3      61           54  38.88  30920.0
4      61           54  38.88  30920.0

In [ ]:
df['Source'] = df['Source'].str.replace('City_','')
df['Destination'] = df['Destination'].str.replace('City_','')

In [19]:
df['Source'] = df['Source'].astype('Float64')
df['Destination'] = df['Destination'].astype('Float64')

In [ ]:
df['Weight'] = df['Weight'] / 1000
df['Area'] = df['Area'] / 1000

In [20]:
df = df.drop(columns=['Area','Weight'])

In [21]:
df.head()

   Source  Destination
0    61.0         54.0
1    61.0         54.0
2    61.0         54.0
3    61.0         54.0
4    61.0         54.0

In [22]:
df.index
index_values = df.index

# Convert the index to a list if needed
index_list = index_values.tolist()

In [23]:
df['Source']

0       61.0
1       61.0
2       61.0
3       61.0
4       61.0
        ...
4630    61.0
4631    61.0
4632    61.0
4633    61.0
4634    61.0
Name: Source, Length: 4635, dtype: Float64

In [25]:
sub_d = df[:200]

In [26]:
sub_d

     Source  Destination
0      61.0         54.0
1      61.0         54.0
2      61.0         54.0
3      61.0         54.0
4      61.0         54.0
..      ...          ...
195    61.0         45.0
196    61.0         45.0
197    61.0         45.0
198    61.0         45.0
199    61.0         45.0

[200 rows x 2 columns]

In [41]:
import pandas as pd

# Sample DataFrame

sub_d = df[:404]
index_list = sub_d.index

# Save DataFrame to TSP format
with open('Random404.tsp', 'w') as f:
    f.write(f'NAME: zoz{len(sub_d)}\n')
    f.write('TYPE: TSP\n')
    f.write(f'DIMENSION: {len(sub_d)}\n')
    f.write('EDGE_WEIGHT_TYPE: EUC_2D\n')
    f.write('NODE_COORD_SECTION\n')
    for _, row in df.iterrows():
        f.write(f"{index_list[_]} {row['Source']} {row['Destination']}\n")
    f.write('EOF\n')

IndexError: index 404 is out of bounds for axis 0 with size 404

In [ ]:
df_numeric.to_csv('order_numerical.csv',index=False)